body{
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #cfc;
	margin: 0;
	/*background-image: url(top-package.png);*/
}

#container{
	margin: 0 auto;
	padding: 0 30px;
	background-color: #fff;
	box-shadow: 0 0 30px #fff;
	width: 900px;
	height: auto;
	position: relative;
}

#pageheader{
	margin: 0;
	background-image: url(202.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 400px;
}

#pageheader a{
	text-decoration: none;
}

#pageheader h1{
	margin: 0;
	font-family: 'Poiret One', cursive;
	font-size: 64px;
	color: #000;
	text-align: center;
	padding-top: 150px;
}

#pageheader h2{
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

#pageheader h2 span{
	color: #fff;
}

/*メニュー*/

nav ul{
	height: 30px;
	margin: 10px 0 20px;
	background-color: #8f5;
}

nav ul li{
	float: left;
	list-style: none;
	padding: 3px 30px 0 10px;
}

nav ul li:first-child{
	margin-left: 150px;
}

nav ul li a{
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
	color: #000;
}

nav ul li a span{
	color: #fff;
}


/*コンテンツ*/

article{
	width: auto;
	clear: both;
}

article header#postheader{
	width: 700px;
	margin: 30px auto 0;
}

article header#postheader h1{
	font-size: 20px;
	font-weight: normal;
	float: left;
	width: 350px;
	margin-top: 25px;
}

article header#postheader>p{
	font-size: 14px;
}

.triangle{
	margin: 50px auto 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid #ada;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
}

/*インデックスのコンテンツ*/

article img#gs{
	float: right;
	position: absolute;
	right: 20px;
	bottom: 50px;
}

article section.index{
	padding-bottom: 10px;
	clear: left;
}

article section.index h1{
	background-image: url(blue.jpg);
	height: 40px;
	font-size: 20px;
	padding: 7px 0 0 100px;
}


article section.index img.icon{
	float: left;
	padding-bottom: 30px;
	margin-left: 70px;
}

article section.index p{
	font-size: 12px;
	width: 650px;
	margin-bottom: 3px;
}


/*コンテンツページのコンテンツ*/

.contnets{
	width: 600px;
	margin: 0 auto;
	padding-left: 500px;
}

.contents h1{
	background-image: url(blue.jpg);
	height: 40px;
	clear: both;
}

.contents h1{
	font-size: 20px;
	padding: 7px 0 0 100px;
}

.contents img.photo-odd{
	float: left;
	width: 400px;
	margin: 0 30px 40px 70px;
	border-radius: 300px;
}

.contents img.photo-even{
	float: right;
	width: 400px;
	margin: 0 20px 40px 50px;
	border-radius: 300px;
}

.contents>p{
	font-size: 12px;
	margin: 0 50px 30px 30px;
}





/*コンテンツ内レシピ*/

label{
    background: green;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    display: block;
}

label.odd {
    margin-left: 500px;
}

label.even {
    margin-right: 500px;
}

input[type="checkbox"].on-off{
    display: none;
}

.menu div {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    padding: 5px;
    font-size: 12px;
}

input[type="checkbox"].on-off + div{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + div{
    height: 400px;
}

.triangle2{
	margin-top: 7px;
	float: right;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid #ada;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}


/*コンタクトページのアーティクル*/
article form{
	width: 600px;
	margin-left: 200px;
}



/*フッター*/

footer{
	clear: both;
	text-align: center;
	border-top: solid 1px #aaa;
}

footer small{
	color: #aaa;
}



