body{
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #cfc;
	margin: 0;
	background-image: url(top-package.png);
}

#container{
	margin: 0 auto;
	padding: 0 30px;
	background-color: #fff;
	width: 900px;
	height: auto;
	box-shadow: 0 0 30px #fff;/*, 0 0 40px #5f8 inset*/
}

#container p{
	display: block;
}

#pageheader{
	margin: 0;
	background-image: url(202.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 400px;
}

#pageheader h1{
	margin: 0;
	font-family: 'Poiret One', cursive;
	font-size: 64px;
	color: #000;
	text-align: center;
	padding-top: 150px;
}

#pageheader h2{
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

#pageheader h2 span{
	color: #fff;
}

/*メニュー*/

nav ul{
	height: 30px;
	margin: 10px 0 20px;
	background-color: #8f5;
}

nav ul li{
	float: left;
	list-style: none;
	padding: 3px 30px 0 10px;
}

nav ul li:first-child{
	margin-left: 150px;
}

nav ul li a{
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
	color: #000;
}

article{
	clear: both;
}


/*コンテンツ*/

article{
	width: 900px;
}

article header h1{
	font-size: 20px;
	font-weight: normal;
	float: left;
	padding: 50px;
	/*border: 1px solid #fff;
	border-radius: 200px;
	box-shadow: 0 0 40px #fff inset;*/
	margin-right: 30px;
	margin-left: 70px;
	/*background-color: #cfc;*/
}

article header p{
	font-size: 14px;
}

article div{
	margin: 0 150px;
}

article section h1{
	clear: left;
	background-image: url(blue.jpg);
}

article section img{
	float: left;
	padding-bottom: 30px;
}

article section img:first-child{
	margin-bottom: 40px;
}

article section p{
	font-size: 12px;
}

/*フッター*/

footer{
	clear: left;
	text-align: center;
	border-top: solid 1px #000;
}

footer small{
	color: #000;
}